* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 145px;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  padding: 0 140px;
  gap: 50px;
  position: fixed;
  justify-content: flex-start;
  z-index: 100; /* The "z" in z-index refers to the z-axis, which goes into the screen (positive z-axis) and out of the screen (negative z-axis). Higher z-index values represent elements closer to the user (in front), while lower values are farther away (behind).*/
}

#nav img {
  height: 98px;
  width: 98px;
}

#nav h4 {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 17px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -2;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.61);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

/* Pseudo elements are used to create virtual element based on the CSS rules */
#page1 h1::before {
  content: "EAT.DRINK.PLAY.";
  position: absolute;
  color: rgb(0, 0, 0);
  left: -5px;
  top: -4px;
  -webkit-text-stroke: 2px greenyellow; /* -webkit- -> it is a vendor prefix. webkit is a browser engin which is responsible for rendering the web pages. it translate the code into the visual representation. vendor prefix is used to use the feature which is for specific browser in other browser. the vendor prefix differ from browser to browser. Those feature which are under testing can be used using the vendor prefix. */
  z-index: -1;
}
#page1 h1 {
  font-size: 130px;
  font-weight: 800;
  position: relative;
  /* color: black; */
}

#page1 h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}

#page1 p {
  font-size: 20px;
  font-weight: 500;
  width: 42%;
}

#page2 {
  height: 100vh;
  width: 100%;
  z-index: 10;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: greenyellow;
  position: fixed;
  z-index: 99;
  /* transition: all linear 0.1s; */
}
#cursor-blur {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgba(172, 255, 47, 0.273);
  position: fixed;
  filter: blur(40px);
  z-index: 90;
  /* transition: all linear 0.4s; */
}

#scroller{
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative; 
  z-index: 99;
}

#scroller::-webkit-scrollbar{
  display: none;
}

#scroller-in{
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4{
  display: inline-block;
  font-size: 140px;
  margin-right: 10px;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  font-weight: 900;
  transition: all linear 0.5s;
}

#scroller h4:hover {
  color: #95c11e;
  -webkit-text-stroke: 2px #95c11e;
}

@keyframes scroll{
  from{ /*Staring point of animation*/
    transform: translateX(0);
    -webkit-text-stroke: none;
  }

  to{/*Ending point of animation*/
      transform: translateX(-100%);
  }
}

/*transform- This property applies a transformation effect to an element.
  translateX- This specific type of transformation moves the element horizontally along the x-axis.

  Transformations are effects applied in CSS to visually manipulate an element's position, size, rotation, or skew.
*/

